$primary : #2947A9;
$neutral-900 : #14171F;
$Neutral-800 : #292E3D;
$neutral-100 : #E0E3EB;
$neutral-50 : #F6F8F7;
$blue-other: #3559C7;
$white: #FFFFFF;
$secondary : #F9995D;
$neutral-700: #3D445C;
$neutral-400: #858EAD;
$neutral-500 : #667299;
$neutral-600: #525B7A;
$neutral-200:#C2C7D6;
$red : #C40303;
